<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container-fluid">
      <div class="form-outline">
        <input type="text" id="form1" class="form-control" />
        <label class="form-label" for="form1">Example label</label>
      </div>
    </div>
  </body>
</html>
